.background-img {
  background-image: url("https://i.ibb.co/xMpzJCy/ilnur-kalimullin-9r4k-V5-Vrd-SQ-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* https://i.ibb.co/bdCfZ66/jeremy-perkins-uhjiu8-Fjns-Q-unsplash.jpg */
